<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Support</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="contact-support__wrapper">
    <div class="contact-support__card">
      <h1 class="contact-support__title">Contact Support <img src="/images/customer-service.png" alt="support-icon" ></h1>
      <hr>
      <p class="contact-support__text">We respect your choice regarding cookie usage. However, cookies are required to use our app.</p>
      <p class="contact-support__text">If you would like to learn more about why we use cookies and how we handle your data, please visit our <a href="/privacy-policy" class="contact-support__link">Privacy Policy</a> page.</p>
      <p class="contact-support__text">If you have any questions or need further assistance, please contact us at our <a href="mailto:sahilsingh00160803@gmail.com" class="contact-support__email">Mail-address</a></p>
      <div class="contact-support__button-wrapper">
        <a href="/" class="contact-support__button">Home</a>
      </div>
    </div>
  </div>
</body>
</html>
